/A0732.class
/A1154.class
/A1399.class
/codeforces_0732A.class
/codeforces_1399A.class
/codeforces_1154A.class
/codeforces_1702C.class
/codeforces_1409A.class
/codeforces_0723A.class
/codeforces_0472A.class
/codeforces_1367A.class
/codeforces_0432A.class
/codeforces_1343B.class
/codeforces_0758A.class
/codeforces_0490A.class
/codeforces_0151A.class
/codeforces_1512A.class
/codeforces_1374A.class
/codeforces_1353B.class
/codeforces_1367B.class
/codeforces_1705A.class
/codeforces_1707A.class
